@page
@model NddcPayroll.Web.Pages.Reports.PayeDeductions.StaffPayeDedAbiaModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Staff Summary of PAYE Deductions - Abia State</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">PAYE Deductions Report</li>
                </ol>
            </div>

        </div>
    </div>
</div>


<component type="typeof(NddcPayroll.Web.MyComponents.PayeReports.StaffPayeTaxDeductionsByLocation)" param-TaxStateProvince="@Model.TaxStateProvince" render-mode="ServerPrerendered" />