@page
@model NddcPayroll.Web.Pages.DataManagement.PensionUpdateModel
@{
}

<form method="post">
    <button type="submit" class="btn btn-danger">Update</button>
</form>

<form asp-page-handler="UpdatePaypoint" method="post">
    <button type="submit" class="btn btn-danger">Update Paypoint</button>
</form>

<form asp-page-handler="UpdateEmployerPension" method="post">
    <button type="submit" class="btn btn-danger">Update Employer Pension</button>
</form>