@page
@model NddcPayroll.Web.Pages.Reports.ReportsListModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Starter</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Starter</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3">
         <div class="flex-grow-1">
            <h4>Payroll Report</h4>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>Payroll Listings Summary Reports (Audit)</a></p>
            <p class="fs-14"><a asp-page="RemitaUploadReport"><i class="ri-arrow-right-s-line"></i>Remita Upload Reports</a></p>
            <p class="fs-14"><a asp-page="NHFReportSummary"><i class="ri-arrow-right-s-line"></i>NHF Report Summary</a></p>
            <p class="fs-14"><a asp-page="PayrollSummaryByDept"><i class="ri-arrow-right-s-line"></i>Payroll Summary By Department</a></p>
        </div>

    </div><!--end col-->
<div class="col-xl-3">
         <div class="flex-grow-1">
            <h4>PAYE Tax Deductions</h4>
            <p class="fs-14"><a asp-page="PayeDeductions/PayeDeductionsSummary"><i class="ri-arrow-right-s-line"></i>Summary</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/StaffPayeDeduction"><i class="ri-arrow-right-s-line"></i>PAYE - Rivers</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/StaffPAyeDedOndo"><i class="ri-arrow-right-s-line"></i>PAYE - Ondo</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/StaffPayeDedImo"><i class="ri-arrow-right-s-line"></i>PAYE - Imo</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/StaffPayDedEdo"><i class="ri-arrow-right-s-line"></i>PAYE - Edo</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/StaffPayDedDelta"><i class="ri-arrow-right-s-line"></i>PAYE - Delta</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/StaffPayeDedCrossRiver"><i class="ri-arrow-right-s-line"></i>PAYE - Cross Rivers</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/StaffPareDedBayelsa"><i class="ri-arrow-right-s-line"></i>PAYE - Bayelsa</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/StaffPayeDedAkwaIbom"><i class="ri-arrow-right-s-line"></i>PAYE - Akwa Ibom</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/StaffPayeDedAbuja"><i class="ri-arrow-right-s-line"></i>PAYE - Abuja</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/StaffPayeDedAbia"><i class="ri-arrow-right-s-line"></i>PAYE - Abia</a></p>
         </div>

    </div>
    <div class="col-xl-3">
        <div class="flex-grow-1">
            <h4>Summary of Pension Contributions</h4>
            <p class="fs-14"><a asp-page="PFASummaryReport"><i class="ri-arrow-right-s-line"></i>Summary</a></p>
            <p class="fs-14"><a asp-page="EmployeePensionReport"><i class="ri-arrow-right-s-line"></i>Employee Pension</a></p>
            @*<p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - Stanbic IBTC</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - PAL</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - Leadway</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - IE Anchor</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - ARM</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - FG</a></p>*@
        </div>

    </div>
    <div class="col-xl-3">
        <div class="flex-grow-1">
            <h4>Variance</h4>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>Earnings</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>Deductions</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>Net</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>Comp</a></p>
        </div>

    </div>
</div>