@page
@model NddcPayroll.Web.Pages.Reports.ReportsListModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Starter</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Starter</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3">
         <div class="flex-grow-1">
            <h4>Payroll Report</h4>
            <p class="fs-14"><a asp-page="PayrollListingsReport"><i class="ri-arrow-right-s-line"></i>Full Payroll Listings Report</a></p>
            @*<p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>Payroll Listings Summary Reports (Audit)</a></p>*@
            <p class="fs-14"><a asp-page="RemitaUploadReport"><i class="ri-arrow-right-s-line"></i>Remita Upload Reports</a></p>
            @*<p class="fs-14"><a asp-page="NHFReportSummary"><i class="ri-arrow-right-s-line"></i>NHF Report Summary</a></p>*@
            <p class="fs-14"><a asp-page="PayrollSummaryByDept"><i class="ri-arrow-right-s-line"></i>Payroll Summary By Department</a></p>
            <p class="fs-14"><a asp-page="PayslipByDept"><i class="ri-arrow-right-s-line"></i>Payslip By Department</a></p>
            <p class="fs-14"><a asp-page="NHFReportSummary"><i class="ri-arrow-right-s-line"></i>Variance Report</a></p>
        </div>

    </div><!--end col-->
    <div class="col-xl-3">
        <div class="flex-grow-1">
            <h4>Statutory Reports</h4>
            <p class="fs-14"><a asp-page="PFASummaryReport"><i class="ri-arrow-right-s-line"></i>PENCOM Report</a></p>
            <p class="fs-14"><a asp-page="NHFReportSummary"><i class="ri-arrow-right-s-line"></i>NHF Report</a></p>
            <p class="fs-14"><a asp-page="PayeDeductions/PayeDeductionsSummary"><i class="ri-arrow-right-s-line"></i>PAYE Report</a></p>
            @*<p class="fs-14"><a asp-page="EmployeePensionReport"><i class="ri-arrow-right-s-line"></i>Employee Pension</a></p>*@
            @*<p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - Stanbic IBTC</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - PAL</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - Leadway</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - IE Anchor</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - ARM</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>PFA - FG</a></p>*@
        </div>

    </div>

   
    <div class="col-xl-3">
        <div class="flex-grow-1">
            <h4>Ad-Hoc Reports</h4>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>Employees</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>Company</a></p>
            <p class="fs-14"><a asp-page="PayrollListings"><i class="ri-arrow-right-s-line"></i>Others</a></p>
        </div>

    </div>
</div>