@page "/resetonetimedata"

@using NddcPayrollLibrary.Data.PayrollJournal;
@inject IPayrollJournalData payjDb

<div class="card">
    <div class="card-body">
        <div class="row g-2">
            <div class="col-sm-4">
                <div class="search-box">
                    @*<input type="text" class="form-control" id="searchMemberList" placeholder="Search for name or designation...">
                    <i class="ri-search-line search-icon"></i>*@
                    <h4 class="fs-18 lh-base mb-0">Reset Onetime Data</h4>
                </div>
            </div>
            <!--end col-->
            <div class="col-sm-auto ms-auto">
                <div class="list-grid-nav hstack gap-1">
                    <button @onclick="GenerateReport" class="btn btn-primary addMembers-modal"><i class="ri-profile-line me-1 align-bottom"></i> Reset Data</button>
                    @*<button type="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-soft-info btn-icon fs-14"><i class="ri-more-2-fill"></i></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1" style="">
                    <li><a class="dropdown-item" href="#">Save Report</a></li>
                    <li><a class="dropdown-item" href="#">Post Journal</a></li>
                    <li><a class="dropdown-item" href="#">Retreive Saved Report</a></li>
                    </ul>*@

                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
</div>

@if (ShowAnim == true)
{
    @*<div class="spinner-grow text-primary" role="status">
        <span>Loading Report Please Wait...</span>
    </div>*@
    <div class="text-center mb-3">
        <a href="javascript:void(0);" class="text-success"><i class="mdi mdi-loading mdi-spin fs-40 align-middle me-2"></i> Resetting Onetime Data Please be Patient...... </a>
    </div>
    @*<h4>@Message</h4>*@
}
else if (ShowGrid == true)
{
    <h4>All Onetime Data in the Database has been Successfully Reset</h4>
}

@code {

    public bool ShowAnim { get; set; }
    public bool ShowGrid { get; set; }
    public string Message { get; set; }
    public double OpsTime { get; set; }


    public void GenerateReport()
    {
        ShowAnim = true;
        var watch = System.Diagnostics.Stopwatch.StartNew();
        Message = "Resetting Onetime Data Please Wait ........";
        payjDb.ClearOnetimeData();
        //Message = "";
        watch.Stop();
        OpsTime = watch.ElapsedMilliseconds / 1000;
        ShowAnim = false;
        ShowGrid = true;
    }

}
