@page "{payrollJournalTitleId:int?}"
@model NddcPayroll.Web.Pages.Payroll.DeleteExecutedPayrollModel
@{
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Delete Executed Payroll</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Starter</li>
                </ol>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-6">
        <div class="card overflow-hidden">
            <div class="card-body bg-marketplace d-flex">
                <div class="flex-grow-1">
                    <h4 class="fs-18 lh-base mb-0">Are You Sure You Want To Delete this Payroll List<br></h4>
                    <br />
                    <h4>Journal Name: @Model.JournalTitle</h4>
                    <h4>Current Date: @Model.MonthDate</h4>
                    <p class="mb-0 mt-2 pt-1 text-muted">
                        Deleting this record would remove all Payroll Transaction for the set period
                    </p>
                    <div class="d-flex gap-3 mt-4">
                        <form method="post">
                            <button type="submit" class="btn btn-danger">Continue to Delete</button>
                        </form>
                    </div>
                </div>
                <img src="assets/images/bg-d.png" alt="" class="img-fluid">
            </div>
        </div>
    </div><!--end col-->

</div>
