@page "{EmpId:int?}"
@model NddcPayroll.Web.Pages.Employee.ArchiveEmployeeModel
@{
}

<div class="row">
    <div class="col-xl-6">
        <div class="card overflow-hidden">
            <div class="card-body bg-marketplace d-flex">
                <div class="flex-grow-1">
                    <h4 class="fs-18 lh-base mb-0">Archive @Model.EmpName <br></h4>
                    <p class="mb-0 mt-2 pt-1 text-muted">
                        You are about to Archive the Payroll Records of @Model.EmpName.<br />
                        This action would remove the employee from Payroll Listings,<br />
                        as well as recurrent Payroll Reports.
                    </p>
                    <div class="d-flex gap-3 mt-4">
                        <form method="post">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="compnayNameinput" class="form-label">Exit Condition</label>
                                    <select id="ForminputState" asp-for="@Model.ExitCondition" class="form-select" data-choices="" data-choices-sorting="true">
                                        <option selected="">Exit Condition...</option>
                                        <option value="End of Contract">End of Contract</option>
                                        <option value="End of Appointment">End of Appointment</option>
                                        <option value="Retirment">Retirement</option>
                                        <option value="Deceased">Deceased</option>
                                        <option value="Abscondment">Abscondment</option>
                                        <option value="Study Leave Without Pay">Study Leave Without Pay</option>
                                        <option value="Leave of Absence">Leave of Absence</option>
                                        <option value="Suspension">Suspension</option>
                                        <option value="Secondment">Secondment</option>
                                        <option value="Secondment">Resignation of Contract</option>
                                        <option value="Secondment">Disengaged</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label for="compnayNameinput" class="form-label">Exit Date</label>
                                    <div>
                                        <input type="date" asp-for="@Model.ExitDate" class="form-control" id="exampleInputdate">
                                    </div>
                                </div>
                            </div>
                            <br />
                            <button type="submit" class="btn btn-warning">Continue to Archive</button>
                            <a asp-page="Employees" class="btn btn-primary">Cancel</a>
                        </form>
                    </div>
                </div>
                <img src="assets/images/bg-d.png" alt="" class="img-fluid">
            </div>
        </div>
    </div><!--end col-->

</div>