@page "{EmpId:int?}"
@model NddcPayroll.Web.Pages.Employee.PaymentDetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
     ViewData["Title"] = "Payment Details";
    ViewData["Employees"] = "active";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Starter</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Payment Details</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">

        <div class="step-arrow-nav mb-4">

            <ul class="nav nav-pills custom-nav nav-justified" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="steparrow-gen-info-tab" data-bs-toggle="pill" data-bs-target="#steparrow-gen-info" type="button" role="tab" aria-controls="steparrow-gen-info" aria-selected="false" data-position="0">Personal Details</button>
                </li>
                @* <li class="nav-item" role="presentation">
                <button class="nav-link" id="steparrow-description-info-tab" data-bs-toggle="pill" data-bs-target="#steparrow-description-info" type="button" role="tab" aria-controls="steparrow-description-info" aria-selected="true" data-position="1" tabindex="-1">Address Details</button>
                </li>*@
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false" data-position="2" tabindex="-1">Statutory Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false" data-position="2" tabindex="-1">Payment Details</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false" data-position="2" tabindex="-1">Analysis Details</button>
                </li>
                @*<li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-experience-tab" data-bs-toggle="pill" data-bs-target="#pills-experience" type="button" role="tab" aria-controls="pills-experience" aria-selected="false" data-position="2" tabindex="-1">Benefits Details</button>
                </li>*@
            </ul>
        </div>
    </div>
</div>
<div class="row">
     <div class="col-md-8">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Primary Banking Details</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <div class="row">
                   
                    <div class="col-md-12">
                        <div class="mb-3">
                            <component type="typeof(NddcPayroll.Web.MyComponents.NubanChecker)" param-EmpId="@Model.MyEmpId" render-mode="ServerPrerendered" />
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    </div>
   
    <!--end col-->
